<div class="show-container d-flex align-items-center">
  <div class="cocktail-card">
    <div class="new-cocktail container">
      <a href="<%= cocktails_path %>" class="back-button"><i class="fas fa-times"></i></a>
      <div>
      </div>
      <h2 class="white">Add a new cocktail</h2>

      <%= simple_form_for(@cocktail) do |f| %>
        <div class="d-flex align-items-end">
          <%= f.input :name, class: "m-0" %>
          <label class="btn transparent m-0">
            Add a photo
            <span style="display:none;">
              <%= f.input :photo, as: :file %>
            </span>
          </label>
        </div>
        <%= f.button :submit, class: 'btn purple' %>
      <% end %>
    </div>
  </div>
</div>

