<nav class="sticky">
    <%= render 'shared/navbar' %>
</nav>
<div class="show-container">
    <%= link_to '<< BACK', root_path, class:"btn btn-back" %>

    <div class="search-results">
        <h2 class="grey grey-underline">Search results for "<%= params[:params][:query] %>"</h2>

        <div class="search-grid">
            <%  @cocktails.each do |cocktail|  %>
                <div class="card" style="width: 18rem;">
                    <a href="<%= cocktail_path(cocktail)%>" class="cocktail-link"></a>
                    <%= cl_image_tag cocktail.photo.key, class:"card-img-top", crop: :fill unless cocktail.nil? %>
                    <div class="card-body">
                        <h5 class="card-title grey"><%= cocktail.name %></h5>
                        <p class="card-text grey">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="<%= cocktail_path(cocktail)%>" class="btn btn-grey">See Recipe</a>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>

