<div class="show-container d-flex align-items-center">
    <div class="cocktail-card">
        <%= cl_image_tag @cocktail.photo.key, width: 400, class: "cocktail-image" %>
        <div class="cocktail-info">
            <a href="<%= cocktails_path %>" class="back-button"><i class="fas fa-times"></i></a>
            <h2 class="pb-2"><%= @cocktail.name %></h2>
            <p class="subtitle">Ingredients</p>
            <ul>
                <% @cocktail.doses.each do |dose| %>
                    <li>
                        <%= dose.description %> <%= dose.ingredient.name %>
                        <%= link_to icon('fas', 'times'), dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
                    </li>
                <% end %>
                <li class="d-block add-new-dose">
                    <div class="d-flex justify-content-between add-new-dose">Add ingredient<i class="fas fa-angle-down"></i><i class="fas fa-angle-up hidden"></i></div>
                    <div class="dose-form">
                        <%= simple_form_for [@cocktail, @dose] do |f| %>
                            <div class="form-inputs hidden" id="new-dose-form">
                                <%= f.input :description %>
                                <%= f.association :ingredient %>
                                <%= f.button :submit, class: "btn purple" %>
                            </div>
                        <% end %>
                    <div>
                </li>
            </ul>
        </div>
    </div>
</div>