<nav class="sticky">
    <%= render 'shared/navbar' %>
</nav>

<div class="show-container">
    <%= link_to '<< BACK', root_path, class:"btn btn-back" %>
    <div class="cocktail-card">
      
        <%= cl_image_tag @cocktail.photo.key, width: 400, class: "cocktail-image" %>  
        <div class="cocktail-info">
            <div class="d-flex justify-content-between grey-underline">
                <h2 class="grey m-0 text-left"><%= @cocktail.name %></h2>
                <% if @cocktail.reviews.length > 0 %>
                    <% ratingCount = 0 %>
                    <% @cocktail.reviews.each do |review| %>
                        <% ratingCount += review.rating %>
                    <% end %>
                    <% ratingAverage = ratingCount / @cocktail.reviews.length %>
                    <div class="d-flex align-items-center justify-content-end stars-box">
                        <% ratingAverage.times do %> 
                            <img src="https://img.icons8.com/fluent/48/000000/star.png" class="rating-icon"/>
                        <% end %>
                        <% if ratingAverage < 5 %>
                            <% ( 5 - ratingAverage).times do %> 
                            <img src="https://img.icons8.com/fluent/48/000000/star.png" class="rating-icon" style="opacity: 0.6; filter: grayscale(1);"/>                            
                            <% end %>
                        <% end %>
                        <a href="<%= cocktail_reviews_path(@cocktail) %>"><p class="my-0 ml-1 grey small-text"> (<%= @cocktail.reviews.length  %> <%= 'review'.pluralize(@cocktail.reviews.length) %>)</p></a>
                    </div>
                <% end %>
            </div>
            <p class="subtitle">Ingredients</p>
            <ul>
                <% @cocktail.doses.each do |dose| %>
                    <li class="d-flex align-items-center">
                        <p class="m-0"><%= dose.amount %> <%= dose.measure.unit %> <%= dose.ingredient %></p>
                        <% if @cocktail.user === current_user %>
                            <img src="https://res.cloudinary.com/maiteeguren/image/upload/v1608715767/img_216627_wyjfkh.png" width="10px" class="btn" id="delete-ingredient" >
                            <%= link_to "", dose_path(dose), method: :delete, remote:true, id: "delete-ingredient-link", class: "hidden" %>
                        <% end %>
                    </li>
                <% end %>
                <% if @cocktail.user === current_user %>
                    <li class="d-block add-new-dose">
                        <div class="d-flex justify-content-between add-new-dose-icon">
                            <p class="btn btn-grey new-ingredient-btn" data-toggle="modal" data-target="#new-ingredient-modal">+ Add ingredient</p>
                        </div>
                    </li>
                <% end %>
            </ul>
            
            <p class="subtitle">Instructions</p>
            <p><%= @cocktail.instructions %></p>
            
            <% if @cocktail.reviews.length > 0 %>
                <a href="<%= cocktail_reviews_path(@cocktail) %>"><p class="subtitle">Reviews (<%= @cocktail.reviews.count %>)</p></a>
            <% else %>
                <p class="subtitle">Reviews (<%= @cocktail.reviews.count %>)</p>
            <% end %>
            
            <ul>
                <li class="d-block add-new-dose">
                    <div class="d-flex justify-content-between add-new-review">
                        <p class="btn btn-grey new-review-btn" data-toggle="modal" data-target="#new-review-modal">+ Add a review</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<%= render 'shared/ingredient-modal', cocktail: @cocktail, dose: @dose %>
<%= render 'shared/review-modal', cocktail: @cocktail, review: @review %>