<nav class="sticky">
    <%= render 'shared/navbar' %>
</nav>

<div class="show-container">
    <%= link_to '<< BACK', root_path, class:"btn btn-back" %>
    <div class="cocktail-card">
      
        <%= cl_image_tag @cocktail.photo.key, width: 400, class: "cocktail-image" %>
        
        <div class="cocktail-info">
            <h2 class="pb-2"><%= @cocktail.name %></h2>
            <p class="subtitle">Ingredients</p>
            <ul>
                <% @cocktail.doses.each do |dose| %>
                    <li class="d-flex align-items-center">
                        <p class="m-0"><%= dose.description %> <%= dose.ingredient.name %></p>
                        <%= link_to icon('fas', 'times'), dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class:"btn" %>
                    </li>
                <% end %>
                <li class="d-block add-new-dose">
                    <div class="d-flex justify-content-between add-new-dose-icon">
                        <p class="btn btn-grey new-ingredient-btn">+ Add ingredient</p>
                    </div>
                </li>
            </ul>
            
            <p class="subtitle">Instructions</p>
            <p><%= @cocktail.instructions %></p>
            
            <p class="subtitle">Reviews (<%= @cocktail.reviews.count %>)</p>
            <ul>
                <% @cocktail.reviews.each do |review| %>
                    <li class="d-block">
                        <% review.rating.times do %> 
                            <i class="fas fa-star"></i>
                        <% end %>
                        <% if review.rating < 5 %>
                            <% ( 5 - review.rating).times do %> 
                                <i class="far fa-star"></i>
                            <% end %>
                        <% end %>

                        <p class="m-0"><%= review.description %></p>
                        <p>- <%= review.user %></p>
                    </li>
                <% end %>
                <li class="d-block add-new-dose">
                    <div class="d-flex justify-content-between add-new-review">
                        <p class="btn btn-grey new-review-btn">+ Add a review</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="new-ingredient-modal">
        <div class="new-cocktail">
            <a href="#" class="close-modal">&times;</a>
            <div>
                <h2>New ingredient</h2>
            </div>
            <div class="new-cocktail-form">
                <%= simple_form_for [@cocktail, @dose] do |f| %>
                    <div class="form-inputs" id="new-dose-form">
                        <%= f.input :description, label_html: { class:"btn" } %>
                        <%= f.association :ingredient, label_html: { class:"btn" }  %>
                        <%= f.button :submit, class: "btn btn-grey" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>

    <div id="new-review-modal">
        <div class="new-cocktail">
            <a href="#" class="close-modal">&times;</a>
            <div>
                <h2>New review</h2>
            </div>
            <div class="new-cocktail-form">
                <%= simple_form_for [@cocktail, @review] do |f| %>
                    <div class="form-inputs" id="new-review-form">
                        <%= f.input :user, label_html: { class:"btn" }  %>
                        <%= f.input :description, label_html: { class:"btn" }  %>
                        <%= f.input :rating, collection: 1..5, label_html: { class:"btn" }   %>
                        <%= f.button :submit, class: "btn btn-grey" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
