<%= render 'shared/navbar' %>
<div class="show-container d-flex align-items-center">
    <div class="cocktail-card">
        <%= cl_image_tag @cocktail.photo.key, width: 400, class: "cocktail-image" %>
        <div class="cocktail-info">
            <div class="d-flex justify-content-between">
                <h2 class="pb-2"><%= @cocktail.name %></h2>
                <a href="<%= cocktails_path %>" class="back-button">&times;</a>
            </div>
            <p class="subtitle">Ingredients</p>
            <ul>
                <% @cocktail.doses.each do |dose| %>
                    <li>
                        <%= dose.description %> <%= dose.ingredient.name %>
                        <%= link_to icon('fas', 'times'), dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
                    </li>
                <% end %>
                <li class="d-block add-new-dose">
                    <div class="d-flex justify-content-between add-new-dose-icon">Add ingredient<i class="fas fa-angle-down"></i><i class="fas fa-angle-up hidden"></i></div>
                    <div class="dose-form">
                        <%= simple_form_for [@cocktail, @dose] do |f| %>
                            <div class="form-inputs hidden" id="new-dose-form">
                                <%= f.input :description %>
                                <%= f.association :ingredient %>
                                <%= f.button :submit, class: "btn purple" %>
                            </div>
                        <% end %>
                    <div>
                </li>
            </ul>
            <p class="subtitle">Reviews (<%= @cocktail.reviews.count %>)</p>
            <ul>
                <% @cocktail.reviews.each do |review| %>
                    <li class="d-block">
                        <% review.rating.times do %> 
                            <i class="fas fa-star"></i>
                        <% end %>
                        <% if review.rating < 5 %>
                            <% ( 5 - review.rating).times do %> 
                                <i class="far fa-star"></i>
                            <% end %>
                        <% end %>

                        <p class="m-0"><%= review.description %></p>
                        <p>- <%= review.user %></p>
                    </li>
                <% end %>
                <li class="d-block add-new-dose">
                    <div class="d-flex justify-content-between add-new-review">Add a review<i class="fas fa-pen"></i><i class="fas fa-times hidden"></i></div>
                    <div class="dose-form">
                        <%= simple_form_for [@cocktail, @review] do |f| %>
                            <div class="form-inputs hidden" id="new-review-form">
                                <%= f.input :user %>
                                <%= f.input :description %>
                                <%= f.input :rating, collection: 1..5  %>
                                <%= f.button :submit, class: "btn purple" %>
                            </div>
                        <% end %>
                    <div>
                </li>
            </ul>
        </div>
    </div>
</div>