<!DOCTYPE html>
<html>
  <head>
    <title>Miss Cocktail</title>
    <link rel="icon" href="https://res.cloudinary.com/maiteeguren/image/upload/v1608886750/cocktail_r9fm3g.png" type="image/icon type">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rye&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-success"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert alert-warning"><%= alert %></div>
    <% end %>
    <% if current_page?(root_path) %>
      <%= render 'shared/new-cocktail-modal' %>
    <% end%>
    <%= yield %>
  </body>
</html>
